<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">account_circle</i>
      Hola, {{nombre}}
      </div>
      <div class="collapsible-header">
        <i class="material-icons">library_books</i>
        <a routerLink="/solicitudes/buscar-solicitud">Solicitudes</a>
        </div>
      <div class="collapsible-header">
        <i class="material-icons">directions_car</i>
        <a routerLink="/vehiculos/buscar-vehiculo">Vehiculos</a>
        </div>
    </li>
</ul>
