<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">account_circle</i>
      Hola, {{nombre}}
      </div>
      <div class="collapsible-header">
        <i class="material-icons">group</i>
        <a routerLink="/empleados/buscar-asesor">Asesores</a>
        </div>
      <div class="collapsible-header">
        <i class="material-icons">library_books</i>
        <a routerLink="/solicitudes/buscar-solicitud">Solicitudes</a>
        </div>
      <div class="collapsible-header">
        <i class="material-icons">directions_car</i>
        <a routerLink="/vehiculos/buscar-tipo-vehiculo">Tipo de vehiculos</a>
        </div>
        <div class="collapsible-header">
          <i class="material-icons">business</i>
          <a routerLink="/sedes/buscar-sede">Sedes</a>
          </div>
    </li>
</ul>
