<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Logo</a>
      <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="seInicioSesion"><a routerLink="/inicio">Inicio</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="mision">Misión</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="vision">Visión</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="mobile.html">Contacto</a></li>
     <!--  <li *n0gIf="seInicioSesion"><a routerLink="/administracion/crear-administrador">Gestión</a></li> -->
        <li *ngIf="seInicioSesion"><a routerLink="./administracion/listar-administrador">Administrador</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="./vehiculos/crear-vehiculo">Vehiculo</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="mobile.html">Registro</a></li>
      </ul>  
    </div>
</nav>


<ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/inicio">Inicio</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="mision">Misión</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="vision">Visión</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="mobile.html">Contacto</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/crear-administrador">Gestión</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-administrador">Administrador</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="mobile.html">Registro</a></li>
</ul>