<nav>
  <div class="nav-wrapper #009688 teal">
    <div class="col s12">
      <a routerLink="/empleados/asesor-home" class="breadcrumb">Home</a>
      <a routerLink="/vehiculos/buscar-vehiculo" class="breadcrumb">Vehiculos</a>
      <a class="breadcrumb">Detalle Vehiculo</a>
    </div>
  </div>
</nav>

<table class="table responsive">

  <tr>
    <th>
      Marca
    </th>
    <th>
      {{marca}}
    </th>
  </tr>

  <tr>
    <th>
      Modelo
    </th>
    <th>
      {{modelo}}
    </th>
  </tr>

  <tr>
    <th>
      Linea
    </th>
    <th>
      {{linea}}
    </th>
  </tr>

  <tr>
    <th>
      Matricula
    </th>
    <th>
      {{matricula}}
    </th>
  </tr>

  <tr>
    <th>
      Cilindraje
    </th>
    <th>
      {{cilindraje}}
    </th>
  </tr>

  <tr>
    <th>
      Color
    </th>
    <th>
      {{color}}
    </th>
  </tr>

  <tr>
    <th>
      Precio
    </th>
    <th>
      {{precio}}
    </th>
  </tr>

  <tr>
    <th>
      Estado
    </th>
    <th>
      {{estado}}
    </th>
  </tr>

  <tr>
    <th>
      Ubicacion
    </th>
    <th>
      {{ubicacion}}
    </th>
  </tr>

  <tr>
    <th>
      Descripcion
    </th>
    <th>
      {{descripcion}}
    </th>
  </tr>

  <tr>
    <th>
      Foto
    </th>
    <th>
      <img src="{{foto}}" border="1" alt="" width="300" height="200" />
    </th>
  </tr>

  <tr>
    <th>
      Video
    </th>
    <th>
      <youtube-player videoId="{{video}}" ></youtube-player>
     </th>
  </tr>
</table>
